body {
    background-color: #272b30;
    color: white;
    font-style: italic;
}

.table thead tr:first-child {
    background: #46b8da;
}

.table-hover tbody tr:hover td {
    background-color: #49515a;
}

.form-control {
    height: 28px;
}