body {
    background-color: #272b30;
    color: white;
    font-style: italic;
}

.table thead tr {
    background: #46b8da;
}

.table tbody tr.importantTask {
    background: #ec4844;
}

.table-hover tbody tr:hover td {
    background-color: #49515a;
}