<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Organizer</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.4/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.5/css/bootstrap.min.css}"
          rel="stylesheet" media="screen"/>

</head>
<body>

<div class="container">

    <div class="row">
        <table class="table table-condensed table-hover">
            <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Status</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="task,iter : ${tasks}" th:classappend="${task.important} ? danger : ''">
                <td class="col-xs-1" th:text="${iter.index+1}"></td>
                <td class="col-xs-8" th:text="${task.name}"></td>
                <td class="col-xs-1" th:text="${task.status}"></td>
                <td class="col-xs-2">
                    <form style="float: left" action="#" th:action="@{'/tasks/{id}/important'(id=${task.id})}" th:method="put">
                        <button type="submit" class="btn btn-xs btn-danger">
                            <span class="glyphicon glyphicon-fire"></span>
                        </button>
                    </form>
                    <form style="float: left" action="#" th:action="@{'/tasks/{id}/complete'(id=${task.id})}" th:method="put">
                        <button type="submit" class="btn btn-xs btn-success">
                            <span class="glyphicon glyphicon-ok-circle"></span>
                        </button>
                    </form>
                    <form style="float: left" action="#" th:action="@{'/tasks/{id}'(id=${task.id})}" th:method="delete">
                        <input type="hidden" name="_method" value="delete"/>
                        <button type="submit" class="btn btn-xs btn-danger">
                            <span class="glyphicon glyphicon-minus-sign"></span>
                        </button>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="row">
        <form class="form-inline" action="#" th:action="@{/tasks}" th:object="${taskForm}" th:method="post">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Task name" th:field="*{name}"/>
            </div>
            <button type="submit" class="btn btn-success">
                <span class="glyphicon glyphicon-plus-sign"></span>
            </button>
        </form>
    </div>

</div>

<script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.4/jquery.min.js"
        th:src="@{/webjars/jquery/2.1.4/jquery.min.js}"></script>

</body>
</html>